<nav class="sidebar d-flex flex-column bg-white shadow-sm">
  <div class="sidebar-content d-flex flex-column h-100">
    <div class="p-3 text-center">
      <button class="btn btn-link">
        <i class="bi bi-chevron-left"></i>
      </button>
    </div>

    <ul class="nav flex-column flex-grow-1 py-3">
      <li *ngIf="userRole === 'vigile'" class="nav-item">
        <a
          routerLink="/dashboard-vigile"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary">
          <i class="bi bi-speedometer2" title="Tableau de bord"></i>
        </a>
      </li>

      <li *ngIf="userRole === 'admin'" class="nav-item">
        <a
          routerLink="/dashboard"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary">
          <i class="bi bi-grid" title="Tableau de bord Admin"></i>
        </a>
      </li>

      <li *ngIf="userRole === 'admin'" class="nav-item">
        <a
          routerLink="/utilisateur"
          routerLinkActive="active"
          class="nav-link text-secondary">
          <i class="bi bi-person" title="Utilisateurs"></i>
        </a>
      </li>

      <li *ngIf="userRole === 'admin'" class="nav-item">
        <a
          routerLink="/presence"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary">
          <i class="bi bi-graph-up" title="Présence"></i>
        </a>
      </li>

      <li *ngIf="userRole === 'admin'" class="nav-item">
        <a
          routerLink="/cohorte"
          routerLinkActive="active"
          class="nav-link text-secondary">
          <i class="bi bi-building" title="Cohorte"></i>
        </a>
      </li>

      <li *ngIf="userRole === 'admin'" class="nav-item">
        <a
          routerLink="/departement"
          routerLinkActive="active"
          class="nav-link text-secondary">
          <i class="bi bi-mortarboard" title="Départements"></i>
        </a>
      </li>

      <li *ngIf="userRole === 'admin'" class="nav-item">
        <a
          routerLink="/historique"
          routerLinkActive="active"
          class="nav-link text-secondary">
          <i class="bi bi-list" title="Historique"></i>
        </a>
      </li>
    </ul>

    <div class="text-center p-3">
      <a
        href="javascript:void(0);"
        class="nav-link text-secondary"
        (click)="logout()">
        <i class="bi bi-box-arrow-right" title="Déconnexion"></i>
      </a>
    </div>
  </div>
</nav>