<div class="container my-5">
    <h3 class="text-center">Ajouter une Cohorte</h3>
  
    <!-- Formulaire de création de cohorte -->
    <form>
      <div class="mb-3">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" id="nom" class="form-control" [(ngModel)]="cohorte.nom" name="nom" required />
      </div>
      
      <div class="mb-3">
        <label for="annee_creation" class="form-label">Année de Création</label>
        <input type="date" id="annee_creation" class="form-control" [(ngModel)]="cohorte.annee_creation" name="annee_creation" required max="2025-12-31" />
      </div>
      
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" class="form-control" [(ngModel)]="cohorte.description" name="description"></textarea>
      </div>
  
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" (click)="router.navigate(['/cohort'])">Annuler</button>
        <button type="button" class="btn btn-success" (click)="addCohorte()">Ajouter</button>
      </div>
    </form>
  </div>
  
  <!-- Modal de succès -->
  <div class="modal fade show d-block" tabindex="-1" role="dialog" *ngIf="showSuccessModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Succès</h5>
        </div>
        <div class="modal-body">
          <p>La cohorte a été ajoutée avec succès !</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="router.navigate(['/cohorte'])">OK</button>
        </div>
      </div>
    </div>
  </div>
  