<div class="container-fluid h-100 d-flex flex-column">
  <!-- Header -->
  <app-navbar *ngIf="showLayout" class="py-2"></app-navbar>

  <div class="row g-0 flex-grow-1">
    <!-- Sidebar -->
    <div class="col-12 col-md-1">
      <app-sidebar *ngIf="showLayout"></app-sidebar>
    </div>
    <!-- Contenu principal -->
    <div class="col-12" [class.col-md-11]="showLayout">
      <div class="content bg-white rounded shadow-sm p-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
