/* Couleur personnalisée */
:root {
    --custom-color: #A2C859;
}

.user-list {
    padding: 20px;
}

/* Style du titre */
.user-list h2 {
    color: var(--custom-color);
    font-weight: bold;
}

/* Style du champ de recherche et des boutons */
.user-list input {
    padding: 10px;
}

.user-list button {
    padding: 8px 15px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.user-list button:hover {
    opacity: 0.8;
}

/* Style de la table */
.user-list table {
    width: 100%;
    border-collapse: collapse;
}

.user-list th, .user-list td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.user-list th {
    background-color: var(--custom-color);
    color: black;
}

.user-list td img {
    border-radius: 50%;
}

/* Conteneur de pagination */
.pagination-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Style de base pour la pagination */
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  
  /* Style de chaque élément de pagination */
  .pagination .page-item {
    margin: 0 5px;
  }
  
  /* Style des liens de pagination */
  .pagination .page-link {
    display: block;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #8DBB39;
    text-decoration: none;
    background-color: white;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  /* Style lorsque la page est active */
  .pagination .page-item.active .page-link {
    background-color: #8DBB36;
    color: white;
    border-color: #8DBB36;
  }
  
  /* Hover sur les éléments de pagination */
  .pagination .page-link:hover {
    background-color: #8DBB30;
    color: white;
    border-color: #8DBB30;
  }
  
  /* Style des boutons Précédent et Suivant */
  .pagination .page-item .page-link {
    font-weight: bold;
  }
  
  /* Désactivation des boutons Précédent et Suivant */
  .pagination .page-item.disabled .page-link {
    color: #ccc;
    border-color: #ccc;
    pointer-events: none;
  }
  
  /* Espacement entre les éléments */
  .pagination .page-item + .page-item {
    margin-left: 5px;
  }
  