.user-list {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Titre */
.user-list h2 {
  color: var(--custom-color);
  font-weight: bold;
}

/* Boutons d'action */
.user-list button {
  transition: all 0.3s ease;
}

.user-list button:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

/* Table */
.user-list table {
  width: 100%;
  border-collapse: collapse;
}

.user-list th {
  background-color: var(--custom-color);
  color: black;
  text-align: center;
}

.user-list td {
  vertical-align: middle;
  text-align: center;
}

/* Statuts */
.badge {
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 12px;
}

.bg-success {
  background-color: #28a745;
  color: white;
}

.bg-danger {
  background-color: #dc3545;
  color: white;
}

/* Hover effet */
.user-list table tbody tr:hover {
  background-color: #f1f1f1;
  transition: all 0.3s ease;
  cursor: pointer;
}
