<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <button class="btn btn-success me-2" (click)="addCohorte()">+ Ajouter</button>
      <button class="btn btn-primary" (click)="exportCSV()">CSV</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let cohorte of getPaginatedCohortes(); let i = index">
      <div class="card text-center" (click)="viewCohorte(cohorte.name)" style="cursor: pointer;">
       
        <div class="card-body">
          <h5 class="card-title">{{ cohorte.name }}</h5>
          <p class="card-text">{{ cohorte.description }}</p>
          <p class="card-text"><strong>Apprenants: {{ cohorte.capacity }}</strong></p>
        </div>
        <div class="card-img-container">
          <img src="/images/cohorte.png" class="card-img-top rounded-circle mx-auto mt-3" alt="Cohorte Image" width="100" height="100">
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-sm btn-outline-success me-2" (click)="stopPropagation($event); editCohorte(cohorte)"><i class="fas fa-edit"></i></button>
          <button class="btn btn-sm btn-outline-danger" (click)="stopPropagation($event); deleteCohorte(cohorte)"><i class="fas fa-trash"></i></button>
        </div>
        
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="d-flex justify-content-center mt-4">
    <nav>
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" href="javascript:void(0)" (click)="changePage(currentPage - 1)">Précédent</a>
        </li>
        <li
          class="page-item"
          [class.active]="currentPage === i + 1"
          *ngFor="let i of generatePageArray(); let idx = index"
        >
          <a class="page-link" href="javascript:void(0)" (click)="changePage(i + 1)">{{ i + 1 }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" href="javascript:void(0)" (click)="changePage(currentPage + 1)">Suivant</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- Modal pour supprimer une cohorte avec apprenants -->
<div id="deleteWithApprenantsModal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer cette cohorte avec ses apprenants ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="confirmDeleteWithApprenants()">Confirmer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal pour supprimer une cohorte sans apprenants -->
<div id="deleteWithoutApprenantsModal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer cette cohorte sans apprenants ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="confirmDeleteWithoutApprenants()">Confirmer</button>
      </div>
    </div>
  </div>
</div>
