<div class="container-fluid w-100 vh-100 d-flex flex-column">
    <!-- Contenu principal -->
    <div class="row flex-grow-1 justify-content-center align-items-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-3 shadow rounded ">
        <!-- Logo -->
        <div class="text-center">
          <img src="assets/images/sunu_logo7.png" alt="SunuPointage" class="img-fluid" style="max-width: 200px;">
        </div>
        <!-- Titre et description -->
        <h1 class="text-center mb-2">Réinitialiser votre mot de passe.</h1>
        <p class="text-center text-muted mb-4">
          Vous avez oublié votre mot de passe ? Ne vous inquiétez pas,<br>
          soumettez votre mot de passe réinitialisé. Il vous sera envoyé par e-mail.
        </p>
        <!-- Formulaire -->
        <form (ngSubmit)="onForgotPassword()">
            <!-- Email -->
            <div class="mb-3">
                <label for="email" class="form-label">Adresse e-mail</label>
                <div class="input-group">
                <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    [(ngModel)]="email"
                    name="email"
                    placeholder="Entrer votre adresse email"
                    required>
                </div>
            </div>
            <!-- Bouton de soumission -->
            <button type="submit" class="btn btn-success w-100" [disabled]="!email">
                Réinitialiser Mot de Passe <i class="bi bi-lock"></i>
            </button>
        </form>
        
        <!-- Message de succès -->
        <div *ngIf="message" class="alert alert-success mt-3">
          {{ message }}
        </div>
  
        <!-- Message d'erreur -->
        <div *ngIf="error" class="alert alert-danger mt-3">
          {{ error }}
        </div>
      </div>
    </div>
  
    <!-- Footer -->
    <footer class="row bg-white border-top py-3 text-center mt-auto">
      <div class="col">
        <small class="text-muted">Copyright 2024 SunuPointage ©</small>
        <div>
          <a href="#" class="text-decoration-none text-success mx-2">Privacy Policy</a>
          <a href="#" class="text-decoration-none text-success mx-2">Terms & Conditions</a>
        </div>
      </div>
    </footer>
  </div>
  