body {
    background-color: rgba(162, 200, 89, 0.1); /* Couleur de fond générale */
  }
.container-fluid {
    background-color: rgba(162, 200, 89, 0.1); /* Couleur de fond générale */
}
  
  h3 {
    font-weight: bold;
    font-size: 1.3rem;
    color: #333;
  }
  
  p {
    font-size: 0.9rem;
    color: #777;
  }
  
  /* Ombre douce pour la section principale */
  .shadow {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Bouton de soumission */
  .btn-success {
    background-color: #70c470;
    border-color: #70c470;
  }
  
  .btn-success:hover {
    background-color: #5bb05b;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  .input-group-text {
    font-size: 1.2rem; /* Ajuste la taille de l'icône */
    padding: 0.75rem 1rem; /* Ajuste le padding pour correspondre à l'input */
  }

  .i {
    font-size: 1.2rem; /* Ajuste la taille de l'icône (diminue-la si nécessaire) */
  }
  
  
  .form-control {
    font-size: 1.2rem; /* Assure-toi que l'input et l'icône aient la même taille */
  }
  